/target
.settings
/.project
/.classpath
.DS_Store
.idea
*.iml
*.iws
docs.txt
__pycache__
**/slask*
**/test_slask*
README.html
**/.pytest_cache
**/.cache
/build
/dist
**/*egg-info
.coverage
env/
htmlcov/
work_dir
.coverage*
.vscode/
