<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.github.bjuvensjo.scripts.vang.misc.ext_local</string>
        <key>LowPriorityIO</key>
        <true/>
        <key>EnvironmentVariables</key>
        <dict>
            <key>PATH</key>
            <string>/bin:/usr/bin:/usr/local/bin:/usr/sbin/</string>
            <key>PYTHONPATH</key>
            <string>/Users/magnus/git/scripts</string>
        </dict>
        <key>Program</key>
        <string>/Users/magnus/bin/ext-local</string>
        <key>UserName</key>
        <string>root</string>
        <key>StandardOutPath</key>
        <string>/dev/null</string>
        <key>StandardErrorPath</key>
        <string>/dev/null</string>
        <key>WatchPaths</key>
        <array>
            <string>/etc/resolv.conf</string>
            <string>/var/run/resolv.conf</string>
            <string>/private/var/run/resolv.conf</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
    </dict>
</plist>
